.input:focus {
}

.input {
    outline-style: none;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border:1px red solid
}

.errorInput:focus {
    border-color:black;
}

.error {
    display:block;
    color:red;
    text-align: center;
    
}
