.input:focus {
}

.input {
    display: inline-block;
    border-style: none;
    outline-style: none;
    padding-left:15px;
    color:black;
    font-weight: 600;
    
    border:#D1D1D1 1px solid;
    width:268px;
    margin-bottom: 30px;
    font-size: 16px;
    padding:5px 0 5px 15px;
    border-radius: 5px;
}

.inputWrapper {
    
    

}

.superInput {
}

.errorInput {
    border:1px red solid
}

.errorInput:focus {
    border-color:black;
}

.error {
    display:block;
    color:red;
    text-align: center;
    
}
